/*///////////////HOME///////////////*/
#wrap{
	font-family: sans-serif;
}

nav ul{
	list-style:none;
	position:fixed;
}

nav ul li{
	font-weight:bold;
	font-size:10pt;

	float:left;
}

a{
	text-decoration:none;
	color:black;
}

#homeHero{
	min-width: 100%;
  	min-height: 100%;
	top:0;
	left:0;

	position: fixed;
	float:left;
}



a:hover{
	color:white;
}











.clearfix{
	clear:both;
}
