/*///////////////HOME///////////////*/
body, html{
    background:white;
    width:100%;
}

#wrap{
	font-family: sans-serif;
}

#homeHero{
    position:fixed;
    float:left;
    top:0;
    left:0;
    min-width:100%;
    min-height:100%;

    z-index: -2000;
}

#yeezyLogo{
	position:fixed;
	float:left;
	left:50px;
	top:30px;
	
	cursor:pointer;
}

nav ul{
	list-style:none;
	width:100%;

	position:fixed;
	top:55px;
	right:50px;
	margin:0 auto;
	z-index:1000;

	display:inline-block;
}

nav ul li{
	padding-left:20px;
	font-weight:bold;
	font-size:10pt;
	z-index:100;

	float:right;
}

a{
	text-decoration:none;
	color:white;
}

a:hover{
	color:rgb(122, 18, 21);
}

#formDiv{
	position:relative;
	float:left;
	top:500px;
	left:20%;
}

#joinUsForm{
	position:relative;
	padding:0px;	


}



#formField1{
	font-size:10pt;
	width:381px;
	height:42px;
	margin-right:20px;
	padding-left:20px;
	
	/*display:inline-block;
	margin-right: 15px;
	left:113px;
	top:545px;

	padding-left:20px;
	*/

}

#formField2{
	font-size:10pt;
	width:240px;
	height:42px;
	padding-left:20px;

	/*display:inline-block;
	margin-right: 15px;
	left:113px;
	top:545px;
	padding-left:20px;
	padding-right:20px;*/

}

#joinButton{
	font-weight:bold;
	font-size:10pt;
	background-color:rgb(154, 119, 36);
	width:175px;
	height:48px;
	margin-left:25px;
	text-align:center;

	border:none;
	cursor:pointer;
	display:inline-block;
	padding:0px;

}

/*#joinButton{
	width:175px;
	height:48px;
	margin-left:25px;
	font-weight:bold;
	font-size:10pt;
	background-color:rgb(154, 119, 36);
	border:none;

	display:inline-block;
	left:835px;
	top:545px;
	cursor:pointer;
	position:absolute;
}*/

/*TEXT OVERLAY FUNCTION IN CUSTOM.JS. HAVEN'T FIGURED OUT HOW TO DO IN DO BUTTON OVERLAY IN JS*/
#joinButton:hover {
  box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.2);
}

#clearfix{
	clear:both;
}
